<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <h1>Emails Entered:</h1>
            <ul>
                {% for user in users %}
                    <li>{{ user.email }} <a href="/delete/{{ user.id }}"><button>DEL</button></a></li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>